h1 {
    color: red;
}

p {
    color:aqua;
}

h2 {
    color: green;
    text-align: center;
    font-size: 50px;
}

/*Testando os comentários no CSS */ 

/* Classes e Ids  */
.p-texto {
    color: lightgreen;
}

#titulo-app {
    color: purple;
}

/* Especificidade */

div p {
    color: red;
}
.p-dentro-da-div {
    color: black;
}

#p-super-especifico{
    color: brown;
}

/* Cores */

.nome {
    color: orange;
}

.hexa{
    color: #6a40c4;
}

.rgba {
    color: rgba(17, 197, 214, 1);
}

/* Backgrounds */

.div-background {
    background-image: url('img/forest.jpg');
    height: 300px;

}

.titulo-background {
    text-align: center;
    background-color: #000;
    color: #fff;
}

/* Fontes */

.family {
    color: #000;
    font-size: 40px;
}

.family.serif {
    color:green;
}

.serif {
    font-family: "Times New Roman";
}

.sans-serif {
    font-family: arial;
}

.monospace{
    font-family: "Courier New";
}

.italic{
    font-style: italic;
}

.oblique{
    font-style: oblique;
}

.bold{
    font-weight: bold;
}

.variant{
    font-variant: small-caps;
}

/* Box Model */

body{
    margin: 0;
}

.paragrafo-box {
    color:#000;
    margin: 0;
}

.boxmodel{
    width: 200px;
    height: 200px;
    background-color:red;
   /* Geral */
   /* padding: 20px; */
   /* Específico */
/*  padding-top: 30px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 5px; */
    /* Especifíco agrupado */
   /* padding: 30px 20px 5px 10px; */
    /* Especifíco agrupado 3 medidas - top, right-left, bottom */
    /* padding: 30px 20px 5px; */
    /* Especifíco agrupado 2 medidas - top -bottom, right - left*/
    padding: 30px 20px;
}